{% extends 'account/signup_base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}

<div class="authentication-form mx-auto">
<div class="logo-centered">
<a href="db-default.html">

</a>
</div>
    {{forms.errors}}
<h3>Create An Account</h3>
<p style="color:red"> {{ form.errors }} </p>
<form method="POST" action="{% url 'account:signup'  %}">
<div class="group material-input">
{% render_field form.email %}
<span class="highlight"></span>
<span class="bar"></span>
<label>Email</label>
</div>

<div class="group material-input">
{% render_field form.username %}
<span class="highlight"></span>
<span class="bar"></span>
<label>UserName</label>
</div>

<div class="group material-input">
{% render_field form.phone_num %}
<span class="highlight"></span>
<span class="bar"></span>
<label>Phone Number</label>
</div>

<div class="group material-input">
{% render_field form.password %}
<span class="highlight"></span>
<span class="bar"></span>
<label>Password</label>
</div>




<div class="group material-input">
{% render_field form.password_2 %}
<span class="highlight"></span>
<span class="bar"></span>
<label>Confirm Password</label>
</div>
{% csrf_token %}
<div class="row">
<div class="col text-left">
<div class="styled-checkbox">
{% render_field form.t_and_c id='agree' %}
<label for="agree">I Accept <a href="#">Terms and Conditions</a></label>
</div>
</div>
</div>
<div class="sign-btn text-center">
<input type='submit' value="Create An Account" class="btn btn-lg btn-gradient-01">
</div>

</form>

<div class="register">
Already have an account?
<br>
<a href="{% url 'account:login' %}">Sign In</a>
</div>
</div>


{% endblock content %}